[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

requests = "*"
datadog = "*"
python-nest = "*"
pyinotify = "*"
watchdog = "*"
xmltodict = "*"
flask = "*"


[requires]

python_version = "2.7"
